<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="css/styles.css">

    <title>To Do List</title>

    

</head>

<body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">TO-DO LIST</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
              
            <li id="home"><a href="/">TODAY</a></li>
            <li id="compose"><a href="/house">HOUSE</a></li>
            <li id="compose"><a href="/work">WORK</a></li>
            <li id="about"><a href="/study">STUDY</a></li>
            <li id="contact"><a href="/tips">TIPS</a></li>
            <li id="contact"><a href="/about">ABOUT</a></li>
          </ul>
      </div>
    </nav>
    