<%- include("header"); -%>

    <div class="tips_container">
        <h1>Get More Done: Try These 10 Simple Tips for Better To-Do Lists</h1>


        <ol type="1" class="tips">
            <li>Choose the Right App (or Paper)</li>
            <li>Make More Than One List</li>
            <li>Write Down Your Tasks as Soon as You Think of Them</li>
            <li>Assign Due Dates</li>
            <li>Revise Your To-Do Lists Daily</li>
            <li>Limit Yourself to 3–5 Tasks Daily</li>
            <li> Put Tasks on Your To-Do List, Not Goals</li>
            <li>Keep Goals and Objectives Separate</li>
            <li>Look at Your To-Do List Often</li>
            <li>Make Your To-Do List Scannable</li>
        </ol>
    </div>

    <%- include("footer"); -%>